/*
colors used:
light cloud for links: #b8b6b6
background color for initial button: #b8b6b6
background color for secondary button: #29497c
active link color: #b8b6b6
visited link color: #d1d1d1

*/

:root {
--primary-color: #357b70;
--secondary-color: #e0b354;
--dark-grey: #2b2b2b;
--color-active: #b8b6b6;
--color-visited: #d1d1d1;
--color-button-secondary: #29497c;
--font-family: 'Montserrat', sans-serif;
--line-height: 1.6;
--body-font-weight: 100;
--body-font-size: 16;
--heading-font-weight: 500;
--heading-font-size: 30;
--secondary-heading-font-weight: 300;
--secondary-heading-font-size: 24;
--box-shadow: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: var(--font-family)
  font-weight var(--body-font-weight);
  font-size: 16;
  /*sets the font size to 16 px*/
  line-height: 1.6;
  /*sets the font size 16 px*/
}

h1 {
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
}

h2 {
  font-size: var(--secondary-heading-font-size);
  font-weight: var(--secondary-heading-font-weight);
}

h3 {
  font-size: var(--secondary-heading-font-size);
  font-weight: var(----secondary-heading-font-weight);
}

a {
  color: $color-active;
}

a:visited {
  /*visted link*/
  color: var(--color-visited);
}

a:hover, a:focus {
  /* No underlining when hovering over link */
  text-decoration: none;
}
a:active {
  /* selected link */
  color: var(--color-visited);
}

%button--shared {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
  transition-property: opacity;
  }

.button, button, button_secondary {
  &:hover {
    border-bottom: var(--box-shadow);
  }
}

.button{
  @extend %button-shared;
  background-color: var(--color-active);
}

.button_secondary {
  @extend %button-shared;
  background-color: var(--color-button-secondary);
}

button, .button, button_secondary {
  /*overwrites browser defaults and resets border */
  border: none;
  /*added for CV button*/
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and decoration of the button */
  background-color: $color-active;
  color: white;
  text-decoration: none;
  /* adds spacing to the button */
  padding: 5px;
  border-radius: 3px;
  /* gives button border */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.4s;
  transition-property: opacity;
}

button: hover, button: focus,
.button: hover, .button: focus,
.button_secondary: hover, .button_secondary: focus {
  cursor: pointer;
  opacity: 0.5;
}

.profile__portrait {
  padding: 30px;
  float: left;
  width: 250px;
  margin--right: 400px;
  border-radius: 50%;
}

.flex--container {
  display:flex;
  background-color: rgba(100, 100, 150, 0.5)
}
.flex-item {
  background-color: rgba(100, 100, 150, 1);
  height: 75px;
  margin:10px;
  text-align: center;
  color: white;
  line-height: 75px;
  flex-basis: 200px;
  flex-grow: 1;
}
.page--footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div {
  padding: 10px;
  margin: 10px;
  border: none;
  text-align: center;
}

* {
  box--sizing: border--box;
}

.page--header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page--header__item {
  flex: 0 1 200px;
}

.page--header .page-header__item: last--child {
  flex--grow: 1;
  text-align: right;
}

.navigation--list {
  list-style-type: none;
}

.navigation--list  li {
  display: inline;
  margin-right: 15px;
  float: right;
}

.about {
  display: grid;
  width: 100%;
  justify-items: center;
  text-align: center;
}

.about-list {
  list-style-type: none;
  padding: 1;
}

.about-list  li {
  float: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-row: 300px 300px; */
  grid-gap: 20px;
}


.grid__item {
  background-color: var(--color-active);
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/* Grid fallback*/
.grid__item {
  display: inline--block;
  width: 33%;
}

/*Styling CSS grid*/
.grid {
  display: grid;
  grid--template--columns: 1fr 1fr 1fr;
  grid--gap: 20px;
}

.grid__item {
  background--color: LightGrey;
  padding: 10px;
  width: auto;
}

.grid__item: last--child {
  grid--column: 3/ 3;
  grid--row: 1 / 3;
}

.about__body {
  padding: 20px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 1500px) {
}

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  @media all and (max--width: 1500px){
    .grid {
      grid--gap: 10px;
    }

    .grid__item: last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }

  @keyframes color--change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
.sun {
  animation-duration: 4s;
  animation-name: color--change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  }
  /* .sun { animation: 4s color-change infinite alternate linear;
}
*/
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*  .cloud-front {
animation 30s cloud-move alternate linear;
}*/

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
